@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <span data-xero-sso data-href="/home/hello" data-label="Sign in with Xero"></span>
    <script src="https://edge.xero.com/platform/sso/xero-sso.js"></script>
</div>